        .filter-grey {
            filter: invert(97%) sepia(4%) saturate(1592%) hue-rotate(182deg) brightness(83%) contrast(96%);
        }
        
        .service-icon {
            height: 25px;
        }
        
        .filter-white {
            filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg) brightness(106%) contrast(106%);
        }
        
        .filter-black {
            filter: invert(0%) sepia(92%) saturate(32%) hue-rotate(277deg) brightness(100%) contrast(101%);
        }
        
        .m-top-4 {
            margin-top: 4px;
        }
        
        .note-editor.note-airframe .note-editing-area .note-editable,
        .note-editor.note-frame .note-editing-area .note-editable {
            margin-left: 18px;
            margin-right: 18px;
            overflow: unset !important;
            word-wrap: break-word;
        }